<script type="text/x-custom-template" data-template="couponPopup">
<div id="coupon-modal" class="coupon-modal modal fade " role="dialog" style="display:none;">
	<div class="modal-dialog align-vertical">
    <div class="modal-content">
		<button type="button" class="close window-close" data-dismiss="modal" data-backdrop="false"
        aria-label="Close" style="z-index: 9;"><span aria-hidden="true">×</span></button>
		<div class="coupon-content"></div>
	</div>
	</div>
	</div>
</script>