<div class="buyxgety-box hidden {{section}}">
	<h3 class="buyxgety-header">Các sản phẩm được khuyến mãi</h3>
	<div class="buyxgety-product-list" data-id="{{product.id}}" data-title="{{product.title}}">
		<div class="buyxgety_content">
			<div class="buyxgety_lists">
			</div>
		</div>
	</div>
</div>



