<div class="fb-comment" data-setting="facebook">
	<div class="ega-container">
		<div class="fb-comments" data-href="{{ settings.foodnbeverage_001__facebook_comment__url }}" data-width="100%" data-numposts="5"></div>
	</div>
</div>