<div id="section-about" class="home-about" data-setting="intro">
	<div class="ega-container">
		<h2 class="home-about__title" data-setting="intro__title">{{ settings.foodnbeverage_001__intro__title }}</h2>
		<div class="home-about__desc" data-setting="intro__desc">{{ settings.foodnbeverage_001__intro__desc }}</div>
	</div>
</div>
