<div class="products-view products-view-grid collection_reponsive list_hover_pro">
	<div class="row product-list content-col">
		{% for product in collection.products %}
		
		<div class="col-6  col-sm-3 {%if showSidebar %} col-md-3 col-lg-3 {%else%} col-md-15 {%endif%} product-col">
			<div class="item_product_main">
				{%include 'product_grid_office'%}	
			</div>
		</div>			
		{% endfor %}
	</div>
	<div class="section pagenav">
		{% if paginate.pages > 1 %}
		{% include 'collection-paginate-pages' %}
		{% endif %}
	</div>

</div>