<section class="section d-xl-block d-none">
	<div id="ega-sticky-addcart" class="section {%if contact%}hidden{%endif%}">
		<div class="container">
			<div class="card">
			<div class="productAnchor_horizonalNavs">
				<div class="row">
					<div class="col-md-12">
						<div class="productAnchor_horizonalNav">
							<div class="product_info_image hidden-xs">
								<img loading="lazy" class="pict image" src="{{ product.featured_image.src | img_url:'medium' }}" alt="{{ product.title }}">
							</div>
							<div class="product_info_content details-pro hidden-xs ">
								<span class="product_info_name" title="{{ product.title }}">{{product.title-}}</span>

								{% include 'price-box' -%}
							</div>
							<div class="product_info_buttons" >
								<div class="box-variant   ">
								</div>
								<div class="soluong soluong_type_1 {% if product.available  and price > 0 -%}show{%else%}hidden{%endif%}">
									<label>Số lượng:</label>
									<div class="custom input_number_product custom-btn-number ">
										<button class="btn btn_num num_1 button button_qty" onClick="var result = document.getElementsByClassName('pd-qtym')[0];var stick_result = document.getElementsByClassName('pd-qtym')[1]; var qtypro = result.value; if( !isNaN( qtypro ) && qtypro > 1 ){result.value--;stick_result.value--;}else{return false;}" type="button">
											{% include 'icon-minus' -%}
										</button>
										<input type="text" id="sticky_qtym" name="quantity" value="1" maxlength="3" class="form-control prd_quantity pd-qtym" onkeypress="if ( isNaN(this.value + String.fromCharCode(event.keyCode) )) return false;" onchange="var result = document.getElementsByClassName('pd-qtym')[0];if(this.value == 0){this.value=1;}else{result.value=this.value}">
										<button class="btn btn_num num_2 button button_qty" onClick="var result = document.getElementsByClassName('pd-qtym')[0];var stick_result = document.getElementsByClassName('pd-qtym')[1]; var qtypro = result.value; if( !isNaN( qtypro )) result.value++;stick_result.value++;return false;" type="button">
											{% include 'icon-plus' -%}
										</button>
									</div>
								</div>

								<div class="form-product">
									<div class="button_actions " style="grid-template-columns: 1fr">
										{% if product.available -%}
										<button type="submit" class="btn btn_base btn_add_cart btn-cart add_to_cart mt-0 {%if price == 0 %}hidden{%endif%}" >
											<span class="text_1">Thêm vào giỏ </span>
										</button>					
										{% else -%}
										<button class="btn btn_base btn_dis btn-cart" disabled="disabled" >
											<span class="text_1">Hết hàng</span>
										</button>
										{% endif -%}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</section>