<div class="product-specifications card border-0">
	<div class="title_module_main heading-bar d-flex justify-content-between align-items-center">
		<h2 class="heading-bar__title ">
			{{settings.product_specifications_title}}
		</h2>
	</div>
	<div class='product_getcontent'>
		{{ specifications }}
	</div>
	<div class="ega-pro__seemore text-center pos-relative mt-3 js-show-specifications">
		<a href="javascript:void(0)" title="Xem thêm" class="btn btn-icon w-100 justify-content-center btn-secondary" 
		   data-toggle="modal" data-target="#exampleModal">
			<i class="fas fa-plus-circle"></i> Xem thêm
		</a>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header border-0 pb-0">
					<h5 class="modal-title" id="exampleModalLabel">{{settings.product_specifications_title}}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					{{ specifications }}
				</div>
			</div>
		</div>
	</div>
</div>