<div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
	  {%include 'icon-arrow', dir:"left"%}
	  </button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
	  	  {%include 'icon-arrow'%}

	  </button>
  </div>