<section class="page_404 section">
	<div class="container card py-5 mt-4 " >
		<div class="row">
			<div class="col-lg-12">
				<div class="page-404 text-center">
					<img loading="lazy" class="img-fluid" src="{{'404.png'| asset_url}}" alt="404" width="600" height="264"/>
					<h1 class="title-section-page" style="font-size: 30px; margin-top: 40px">TRANG KHÔNG ĐƯỢC TÌM THẤY</h1>
					<p style="color:#727272">Thật tiếc! Trang của bạn yêu cầu không tồn tại. <br>
						Vui lòng thử với một trang khác hoặc liên hệ để được hỗ trợ nhé!</p>
					<a href="/" class="btn btn-main">Về trang chủ</a>
				</div>
			</div>
		</div>
	</div>
</section>