{% layout none -%}
{% if search.results.size > 0 -%}
{% for product in search.results limit: settings.equalprice_limit -%}
<div class="item product-col">
	<div class="item_product_main">
		{% include 'product_grid_office' -%}
	</div>
</div>
{% endfor -%}
{% endif -%}